body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #343a40;
}

#weather-display, #news-display {
    margin-top: 20px;
}

#news-display article {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

#news-display article:last-child {
    border-bottom: none;
}
